$background: #2b2b2b;
$foreground: #c5c8c6;
$dark-gray: #282a2e;
$gray: #282a2e;
$mid-gray: #373b41;
$red: #a54242;
$bright-red: #c66;
$green: #8c9440;
$bright-green: #b5bd68;
$yellow: #de935f;
$bright-yellow: #f0c674;
$blue: #5f819d;
$bright-blue: #81a2be;
$purple: #85678f;
$bright-purple: #b294bb;
$cyan: #5e8d87;
$bright-cyan: #8abeb7;
$bright-gray: #707880;

$font: 'Fira Mono', monospace, sans-serif;

* {
  cursor: default;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  background-color: $background;
  color: $foreground;
  display: flex;
  font-family: $font;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: $blue;
  color: $background;
  font-size: 20px;
  font-weight: 100;
  left: 26px;
  padding: 6px;
  position: fixed;
  top: 20px;
}

canvas {
  background-color: $background;
  margin: auto;
}
