* {
  cursor: default;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

body {
  background-color: #2b2b2b;
  color: #c5c8c6;
  display: flex;
  font-family: "Fira Mono", monospace, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0; }

h1 {
  background-color: #5f819d;
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 100;
  left: 26px;
  padding: 6px;
  position: fixed;
  top: 20px; }

canvas {
  background-color: #2b2b2b;
  margin: auto; }
